NHÓM 4 demo SPARK SQL

SỬ DỤNG SPARSESSION CHO PYSPARK

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

TẠO DATAFRAMES

In [5]:
# spark is an existing SparkSession
df = spark.read.csv("Hoanh/students_data.csv")
# Displays the content of the DataFrame to stdout
df.show()

+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
|        _c0|                 _c1|_c2|         _c3|         _c4| _c5|          _c6|        _c7|             _c8|                 _c9|                _c10|
+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
|YearofStudy|              Course|Age|ApproxHeight|ApproxWeight|KCSE|Yr_JoinCampus|    SitKCSE|Expense_Semester|Expense_Accommoda...|Previous_Exam_Mea...|
|Second Year|         MATHEMATICS| 20|         152|          80|2016|         2018|   Central |            8744|                6043|                   B|
| First Year|ECONOMICS AND STA...| 29|         182|          79|2010|         2010|Rift Valley|           26293|               14782|                   B|
|Fourth Year|         MATHEMATICS| 22|         167|          64|2015|         2016|    Western|           44105|               19224|                   B|
|Second Year|ECONOMICS AND STA...| 23|         149|          52|2016|         2018|      Coast|           33954|               18795|                   B|
|Second Year|         MATHEMATICS| 18|         150|          70|2013|         2018|    Western|           18113|               25569|                   A|
| Third Year|      URBAN PLANNING| 20|         154|          56|2016|         2017|   Central |           11648|               41028|                   A|
| Third Year|         MATHEMATICS| 21|         165|          79|2016|         2017|Rift Valley|           39252|               44024|                   A|
| Third Year|         MATHEMATICS| 21|         162|          57|2016|         2017|     Nyanza|           38174|               36925|                   B|
|Fourth Year|   ACTUARIAL SCIENCE| 22|         154|          53|2015|         2016|     Nyanza|           40833|               27034|                   B|
|Fourth Year|           ECONOMICS| 21|         172|          57|2015|         2016|Rift Valley|           42264|               26059|                   B|
| Third Year|         MATHEMATICS| 22|         172|          78|2016|         2017|      Coast|            6811|               39242|                   C|
|Second Year|         MATHEMATICS| 22|         160|          60|2015|         2016|      Coast|           34148|               37578|                   B|
|Fourth Year|         MATHEMATICS| 23|         170|          66|2015|         2016|    Nairobi|           49155|               21501|                   B|
| First Year|ECONOMICS AND STA...| 20|         167|          79|2010|         2010|    Nairobi|           23654|               17407|                   C|
|Second Year|ECONOMICS AND STA...| 34|         176|          80|2012|         2012|   Eastern |           32733|               39019|                   E|
| Third Year|          STATISTICS| 20|         150|          54|2016|         2017|   Central |           45232|               35910|                   B|
| Third Year|ECONOMICS AND STA...| 21|         167|          45|2016|         2017|    Nairobi|           28393|                9384|                   B|
| Third Year| APPLIED MATHEMATICS| 20|         122|          52|2016|         2017|   Central |           24691|               28958|                   B|
| Third Year|          STATISTICS| 21|         160|          52|2016|         2017|   Central |           36282|               48476|                   B|
+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)

In [10]:
df.select("_c0").show()

+-----------+
|        _c0|
+-----------+
|YearofStudy|
|Second Year|
| First Year|
|Fourth Year|
|Second Year|
|Second Year|
| Third Year|
| Third Year|
| Third Year|
|Fourth Year|
|Fourth Year|
| Third Year|
|Second Year|
|Fourth Year|
| First Year|
|Second Year|
| Third Year|
| Third Year|
| Third Year|
| Third Year|
+-----------+
only showing top 20 rows

In [12]:
df.select(df['_c0'], df['_c2'] + 1).show()

+-----------+---------+
|        _c0|(_c2 + 1)|
+-----------+---------+
|YearofStudy|     NULL|
|Second Year|     21.0|
| First Year|     30.0|
|Fourth Year|     23.0|
|Second Year|     24.0|
|Second Year|     19.0|
| Third Year|     21.0|
| Third Year|     22.0|
| Third Year|     22.0|
|Fourth Year|     23.0|
|Fourth Year|     22.0|
| Third Year|     23.0|
|Second Year|     23.0|
|Fourth Year|     24.0|
| First Year|     21.0|
|Second Year|     35.0|
| Third Year|     21.0|
| Third Year|     22.0|
| Third Year|     21.0|
| Third Year|     22.0|
+-----------+---------+
only showing top 20 rows

In [15]:
df.filter(df['_c2'] > 21).show()

+-----------+--------------------+---+---+---+----+----+-----------+-----+-----+----+
|        _c0|                 _c1|_c2|_c3|_c4| _c5| _c6|        _c7|  _c8|  _c9|_c10|
+-----------+--------------------+---+---+---+----+----+-----------+-----+-----+----+
| First Year|ECONOMICS AND STA...| 29|182| 79|2010|2010|Rift Valley|26293|14782|   B|
|Fourth Year|         MATHEMATICS| 22|167| 64|2015|2016|    Western|44105|19224|   B|
|Second Year|ECONOMICS AND STA...| 23|149| 52|2016|2018|      Coast|33954|18795|   B|
|Fourth Year|   ACTUARIAL SCIENCE| 22|154| 53|2015|2016|     Nyanza|40833|27034|   B|
| Third Year|         MATHEMATICS| 22|172| 78|2016|2017|      Coast| 6811|39242|   C|
|Second Year|         MATHEMATICS| 22|160| 60|2015|2016|      Coast|34148|37578|   B|
|Fourth Year|         MATHEMATICS| 23|170| 66|2015|2016|    Nairobi|49155|21501|   B|
|Second Year|ECONOMICS AND STA...| 34|176| 80|2012|2012|   Eastern |32733|39019|   E|
| Third Year|          STATISTICS| 27|166| 75|2015|2017|    Nairobi|35034|26889|   A|
|Fourth Year|         MATHEMATICS| 23|155| 72|2015|2016|   Eastern |44791|14681|   C|
|Fourth Year|         MATHEMATICS| 24|153| 56|2015|2016|Rift Valley|48957|25285|   C|
| Third Year|ECONOMICS AND STA...| 22|155| 58|2016|2017|      Coast|40620|24280|   B|
|Second Year|         MATHEMATICS| 25|140| 54|2016|2018|   Central |45539| 5902|   C|
| First Year|ECONOMICS AND STA...| 24|163| 75|2010|2010|Rift Valley|10251| 9951|   B|
|Second Year|ECONOMICS AND STA...| 24|155| 57|2016|2018|      Coast|30190|32985|   B|
|Second Year|         MATHEMATICS| 22|147| 58|2013|2018|    Western| 8835|44816|   A|
| Third Year|      URBAN PLANNING| 24|154| 63|2016|2017|   Central |46738|22645|   A|
| Third Year|         MATHEMATICS| 23|149| 66|2016|2017|Rift Valley|24766| 8508|   A|
| Third Year|         MATHEMATICS| 22|164| 50|2016|2017|     Nyanza|13157|18850|   B|
|Fourth Year|   ACTUARIAL SCIENCE| 23|176| 69|2015|2016|     Nyanza| 6171|10771|   B|
+-----------+--------------------+---+---+---+----+----+-----------+-----+-----+----+
only showing top 20 rows

In [16]:
df.groupBy("_c2").count().show()

+---+-----+
|_c2|count|
+---+-----+
| 29|    1|
| 34|    1|
| 22|   13|
| 18|    2|
| 27|    1|
|Age|    1|
| 23|    9|
| 25|    4|
| 24|    5|
| 20|   11|
| 21|   15|
+---+-----+

CHẠY TRUY VẤN SQL

In [17]:
df.createOrReplaceTempView("students_data")

sqlDF = spark.sql("SELECT * FROM students_data")
sqlDF.show()

+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
|        _c0|                 _c1|_c2|         _c3|         _c4| _c5|          _c6|        _c7|             _c8|                 _c9|                _c10|
+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
|YearofStudy|              Course|Age|ApproxHeight|ApproxWeight|KCSE|Yr_JoinCampus|    SitKCSE|Expense_Semester|Expense_Accommoda...|Previous_Exam_Mea...|
|Second Year|         MATHEMATICS| 20|         152|          80|2016|         2018|   Central |            8744|                6043|                   B|
| First Year|ECONOMICS AND STA...| 29|         182|          79|2010|         2010|Rift Valley|           26293|               14782|                   B|
|Fourth Year|         MATHEMATICS| 22|         167|          64|2015|         2016|    Western|           44105|               19224|                   B|
|Second Year|ECONOMICS AND STA...| 23|         149|          52|2016|         2018|      Coast|           33954|               18795|                   B|
|Second Year|         MATHEMATICS| 18|         150|          70|2013|         2018|    Western|           18113|               25569|                   A|
| Third Year|      URBAN PLANNING| 20|         154|          56|2016|         2017|   Central |           11648|               41028|                   A|
| Third Year|         MATHEMATICS| 21|         165|          79|2016|         2017|Rift Valley|           39252|               44024|                   A|
| Third Year|         MATHEMATICS| 21|         162|          57|2016|         2017|     Nyanza|           38174|               36925|                   B|
|Fourth Year|   ACTUARIAL SCIENCE| 22|         154|          53|2015|         2016|     Nyanza|           40833|               27034|                   B|
|Fourth Year|           ECONOMICS| 21|         172|          57|2015|         2016|Rift Valley|           42264|               26059|                   B|
| Third Year|         MATHEMATICS| 22|         172|          78|2016|         2017|      Coast|            6811|               39242|                   C|
|Second Year|         MATHEMATICS| 22|         160|          60|2015|         2016|      Coast|           34148|               37578|                   B|
|Fourth Year|         MATHEMATICS| 23|         170|          66|2015|         2016|    Nairobi|           49155|               21501|                   B|
| First Year|ECONOMICS AND STA...| 20|         167|          79|2010|         2010|    Nairobi|           23654|               17407|                   C|
|Second Year|ECONOMICS AND STA...| 34|         176|          80|2012|         2012|   Eastern |           32733|               39019|                   E|
| Third Year|          STATISTICS| 20|         150|          54|2016|         2017|   Central |           45232|               35910|                   B|
| Third Year|ECONOMICS AND STA...| 21|         167|          45|2016|         2017|    Nairobi|           28393|                9384|                   B|
| Third Year| APPLIED MATHEMATICS| 20|         122|          52|2016|         2017|   Central |           24691|               28958|                   B|
| Third Year|          STATISTICS| 21|         160|          52|2016|         2017|   Central |           36282|               48476|                   B|
+-----------+--------------------+---+------------+------------+----+-------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows